*{   /* pagina sem margem e com o tamanho dela não sendo alterado por outra medida adicionada dentro do seu corpo*/
    box-sizing: border-box;
    margin: 0
  }

  body{ /*pagina com background padrão na cor preta*/
    background-color: black;
  }


  .container{
    display: flex;
  }
  
  .menu{
    width: 15%;  /*menu ocupando 15% da tela*/
    height: 100vh;   /*menu ocupando toda a área de visualização de altura da tela*/
    background-color: red;
    position: fixed;   /*menu fixo mesmo com a rolagem do resto da pagina acontecendo*/
    background: black;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    
  }
  
  .conteudo{
    box-sizing: border-box;
    border: solid black 5px;
    color: white;
    background-color: black;
    width: 85%;  /*conteúdo ocupando os 85% restante da largura da tela*/
    height: 100%;   /*conteúdo ocupando 100% da área da tela em relação a altura*/
    position: relative;
    left: 15%;   /*conteúdo movido 15% a direita em relação a tela para que não fique sobreposto pelo menu*/
  }
  
  .menu ul{ /*define o estilo da lista*/
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex; /*display: flex para que eu possa manipular os itens como desejar*/
    flex-direction: column; /*direção de conula para manter o aspecto de lista padrão*/
justify-content: center;


  }

  .menu li{
    display: flex;
    text-align: center;
    height: 25%;
  }
  .menu a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;

  }

  #link1{ /*define o tempo de transição a imagem do link sobre mim*/
    background-image: url(richter.jpeg);
    transition: .5s;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position-x: 310%;
  }

  #link1:hover{ /*define o movimento da imagem de fundo ao passar o cursos sobre o link sobre mim*/
    background-position-x: 30% ;
    color: aqua;
    text-shadow: 1px 1px 1px black;
  }

  #link2{ /*define o tempo de transição a imagem do link formação*/
    background-image: url(form.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position-x: 1200%;
    transition: .4s;
  }

  #link2:hover{ /*define o movimento da imagem de fundo ao passar o cursos sobre o link formação*/
    background-position-x: 0%;
    color: burlywood;
    text-shadow: 1px 1px 1px black;
  }

  #link3{/*define o tempo de transição a imagem de fundo do link portifolio*/
    background-repeat: no-repeat;
    background-size: 120%;
    background-image: url(porti.jpg);
    background-position-x: 650% ;
    transition: .4s;
  }


  #link3:hover{ /*define o movimento da imagem de fundo ao passar o cursos sobre o link portifolio*/
    background-position-x: 80% ;
    text-shadow: 1px 1px 1px black;
    color:chartreuse;
  }

  #link4{ /*define o tempo de transição a imagem de fundo do link contato*/
    background-image: url(contato.jpeg);
    background-size: 120%;
    background-repeat: no-repeat;
    transition: .5s;
    background-position-y: 50% ;
    background-position-x: 700%;
  }

  #link4:hover{ /*define o movimento da imagem de fundo ao passar o cursos sobre o link contato*/
    background-position-x: 100%;
    text-shadow: 1px 1px 1px black;
    color:crimson;
  }

  p{
    text-indent: 10px;
  }

  .principal{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  
  }

  .senai{ /*define o estilo do logo do senai*/
    width: 15%; /*largura de 15% da área conteudo*/
    height: 150px;
    background-image: url(senai.png);
    background-size: 100%;
    background-position-y: -20px;

  }

  .cursos{
    display: flex;
    box-sizing: border-box;
    width: 70%;
    border: 5px solid black;
    justify-content: center;
  }

  .uninter{ /*define o estilo do logo da uninter*/
    width: 15%; /*largura de 15% da área conteudo*/
    height: 150px;
    background-image: url(uninter.png);
    background-size: 100%;
    background-position-y: -25px;
  }

  .lista{
    padding: 0;
    font-size: 30px;
    
  }

  .lista a{
    text-decoration: none;
    color: white;
  }

  .lista a:hover{
    color: red;
  }

  .principal2{
    display: flex;
  }

  .lgpd{
    width: 25%;
    height: 250px;
    background-image: url(lgpd.png);
    background-size: 100%;
    box-sizing: border-box;
  }

  .fun{
    width: 25%;
    height: 250px;
    background-image: url(logistica.png);
    background-size: 100%;
    box-sizing: border-box;
  }

  .eco{
    width: 25%;
    height: 250px;
    background-image: url(circular.png);
    background-size: 100%;
    box-sizing: border-box;
  }

  .edu{
    width: 25%;
    height: 250px;
    background-image: url(ambiental.jpg);
    background-size: 120%;
    box-sizing: border-box;
    background-position-x: -15px;
  }




.principal2 a{ /*define que o link cubra toda a área da imagem*/
    display: block;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
}

.mexer:hover{ /*cria uma borda verde nas imagens das competencias ao passar o cursor por cima delas */
    border: solid 5px seagreen;
}

.principal{
    display: flex;
    flex-wrap: wrap;
}

.lista2{
    width: 100%;
    display: flex;
    justify-content: center;
}

.lista2 ul{
    display: flex;
    padding: 0;

}

.lista2 li{
    padding:20px;
    padding-right: 50px;
}

.imagensCompet{ /*define o tamanho das imagens usadas como link*/
    width: 20%;
}

