*{    /* pagina sem margem e com o tamanho dela não sendo alterado por outra medida adicionada dentro do seu corpo*/
    box-sizing: border-box;
    margin: 0
  }

  body{ /*pagina com background padrão na cor preta*/
    background-color: black;
  }

  .container{
    display: flex;
  }
  
  .menu{  
    width: 15%;   /*menu ocupando 15% da tela*/
    height: 100vh; /*menu ocupando toda a área de visualização de altura da tela*/
    background-color: red;
    position: fixed;   /*menu fixo mesmo com a rolagem do resto da pagina acontecendo*/
    background: black;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    
  }
  
  .conteudo{
    box-sizing: border-box;
    border: solid black 5px;
    color: white;
    background-color: black;
    width: 85%;  /*conteúdo ocupando os 85% restante da largura da tela*/
    height: 100%;   /*conteúdo ocupando 100% da área da tela em relação a altura*/
    position: relative;
    left: 15%; /*conteúdo movido 15% a direita em relação a tela para que não fique sobreposto pelo menu*/
  }
  
  .menu ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
justify-content: center;


  }

  .menu li{
    display: flex;
    text-align: center;
    height: 25%;
  }
  .menu a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;

  }

  #link1{ /*define o tempo de transição a imagem do link sobre mim*/
    background-image: url(richter.jpeg);
    transition: .5s;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position-x: 310%;
  }

  #link1:hover{ /*define o movimento da imagem de fundo ao passar o cursos sobre o link sobre mim*/
    background-position-x: 30% ;
    color: aqua;
    text-shadow: 1px 1px 1px black;
  }

  #link2{ /*define o tempo de transição a imagem do link formação*/
    background-image: url(form.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position-x: 1200%;
    transition: .4s;
  }

  #link2:hover{ /*define o movimento da imagem de fundo ao passar o cursos sobre o link formação*/
    background-position-x: 0%;
    color: burlywood;
    text-shadow: 1px 1px 1px black;
  }

  #link3{ /*define o tempo de transição a imagem de fundo do link portifolio*/
    background-repeat: no-repeat;
    background-size: 120%;
    background-image: url(porti.jpg);
    background-position-x: 650% ;
    transition: .4s;
  }


  #link3:hover{ /*define o movimento da imagem de fundo ao passar o cursos sobre o link portifolio*/
    background-position-x: 80% ;
    text-shadow: 1px 1px 1px black;
    color:chartreuse;
  }

  #link4{ /*define o tempo de transição a imagem de fundo do link contato*/
    background-image: url(contato.jpeg);
    background-size: 120%;
    background-repeat: no-repeat;
    transition: .5s;
    background-position-y: 50% ;
    background-position-x: 700%;
  }

  #link4:hover{ /*define o movimento da imagem de fundo ao passar o cursos sobre o link contato*/
    background-position-x: 100%;
    text-shadow: 1px 1px 1px black;
    color:crimson;
  }

  .principal, .principal2, .principal3{
    display: flex;
    flex-wrap: wrap;
  


  }

  .sobreMim{
    width: 100%;
    box-sizing: border-box;
    border: 5px solid black;
    

  }

  p{
    text-indent: 10px;
  }

  .hobbies{
    width: 100%;
    box-sizing: border-box;
    border: 5px solid black;

  }
 

  .gatos{
    width: 100%;
    border: 5px solid black;
  }
